.navbar {
    background: #4068b381;
}
.navbar-brand {
   
     
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
.nav-link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.nav-item {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
   
}